pandas
jupyter
notebook
numpy
matplotlib
seaborn
scikit-learn
nltk
wordcloud
langdetect
mlflow
boto3
python-dotenv
tabulate
tensorflow[and-cuda]
gensim
dill
transformers
tqdm
requests
plotly

--find-links https://download.pytorch.org/whl/cu121
torch==2.2.0
torchvision==0.17.0 
torchaudio==2.2.0