
mlflow==2.21.0
keras==3.9.0
numpy==1.26.4
tensorflow==2.19.0
fastapi==0.110.0
uvicorn==0.30.0
python-dotenv==1.0.1
dill==0.3.8
boto3==1.35.0
requests==2.31.0
pydantic==2.6.3
python-multipart==0.0.9
nltk==3.8.1
regex==2023.12.25